<footer class="page-footer blue">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Spa de Uñas y Cejas</h5>
        <p class="grey-text text-lighten-4">Bienvenido a nuestro spa especializado en uñas y cejas. Ofrecemos una amplia gama de servicios de belleza para realzar tu estilo y cuidado personal.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Enlaces</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Servicios de Uñas</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Servicios de Cejas</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Promociones</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Contacto</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    ©2024 Spa de Uñas y Cejas - Marysol Orjuela Restrepo
    </div>
  </div>
</footer>
